.container {
  height: 100vh;
  width: 100%;
  background-image: url(https://png.pngtree.com/background/20230527/original/pngtree-neon-racing-cars-on-dark-road-picture-image_2761009.jpg); /* Ajusta la URL de la imagen */
  background-size: cover; /* Cubre todo el contenedor, sin distorsionar la relación de aspecto */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; /* Centra la imagen horizontal y verticalmente */
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}

.title {
  color: black;
  margin-top: -350px;
  background-color: aliceblue;
}

.enterButton {
  background-color: #fe4a49;
  color: black;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: wait;
  font-size: 20px;
}
