.app {
  padding: 10px;
  font-family: "Roboto";
  background: linear-gradient(to left, rgb(6, 28, 105) 0%, rgb(2, 2, 37) 100%);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .app {
    padding: 10px;
  }
}
