* {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #04090b, #192428);
  font-family: 'Orbitron', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
