.cardContainer {
    position: relative;
    width: 400px;
    height: 200px;
    background-color: #ebe6ea;
    border: 10px solid #323d42;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    font-family: "Barlow";
    overflow-wrap: break-word;
    text-decoration: none;
  }
  
  .cardContainer:hover {
    transform: scale(1.02);
  }

.image {
    width: 100%;
    height: 70%;
    border-radius: 20px;
    border-color: aliceblue;
  }

  h2, p {
 color: black;
}